body{
    background-image: url(./imagenes/fondo.jpg);
}
h1{
    text-align: center;
    color: white;
    font-family: Glacial Indifference Impact, 'Bold';
}
p{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.ficha{
    perspective: 1000px;
    justify-content: center;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
button{
    perspective: 1000px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: #ff3c00;
    color: white;
    width: 15%;
    height: 1%;
    text-align: center;
}
.mesa{
    position: absolute;
    top: 400px;
    right: 30px;
    left: 30px;
    perspective: 1000px;
    justify-content: center;
    display: flex;
    width: auto;
    height: 55%;
    transform: rotateX(180deg);
}
.cartas-poker{
    perspective: 1000px;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 550px;
    left: 20px;

}

.cartas {
  width: 90px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s;
}

.cartas-poker:hover .card {
  transform: rotateY(180deg);
}
